<a href="https://colab.research.google.com/github/Seunsoipe/Data-definition-language-Checkpoint/blob/main/Learn_SQL_Checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Objective
Consider the following entity/ relationship diagram: https://i.imgur.com/Jbjp9Ur.png

Convert the entity relationship diagram into relational model.
1. Give the list the producers.

2. Give the list of producers sorted by name.

3. Give the list the producers of Sousse.

4. Calculate the total quantity of wine produced having the number 12.

5. Calculate the quantity of wine produced by category.

6. Which producers in the Sousse region have harvested at least one wine in quantities greater than 300 liters? We want the names and first names of the producers, sorted in alphabetical order.

7. List the wine numbers that have a degree greater than 12 and that have been produced by producer number 24.

Instructions Write SQL queries to retrieve data from these tables using DQL language ###

Solutions

1. Wine(Numw, Category, Year, Degree, Quantity) Producers(Nump, Fname, Lname, Region)

2. select * from producers

3. select * from producers order by Fname, Lname

4. select * from producers where region = 'Sousse'

5. select Numw, Sum(quantity) from Wine where Numw = 12

6. select *, sum(quantity) from wine group by category

7. select * from producers inner join wine on producers.producers.Nump = wine.producers.Nump where region = 'Sousse' and quantity > 300 order by Fname, Lname;

select numw from wine where degree > 12 and Nump = 24;